@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
body {
  font-family: "Open Sans", serif;
  background: linear-gradient(to right, rgb(245, 245, 245), #f7f7f7);
}

.wrapper {
  background: linear-gradient(to right, rgb(245, 245, 245), #f7f7f7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 100vh;
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 80%;
  margin: 25px auto;
}

.title-container {
  min-height: 5vh;
  width: 100%;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.title-container_title {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1.3;
  margin-top: 1rem;
}

.title-container_subtitle {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 100;
  min-height: auto;
  letter-spacing: 1px;
  line-height: 1.5;
}

.form-container {
  background-color: #2c3e50;
  min-height: 70vh;
  width: 100%;  
  padding-top: 50px;
  padding-left: 50px;
}

form {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #51a9f1;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-right: 20px;
  font-size: 1rem;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
  -webkit-text-fill-color: #fff !important;
}

form button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 1rem;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 100;
}

form button:active {
  outline: none;
}

form button:hover {
  cursor: pointer;
}

.weather_info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather_key {
  color: #51a9f1;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather_key:last-child {
  border: 0;
}

.weather_value {
  color: #fff;
  font-weight: 200;
}

.weather_error {
  color: #51a9f1;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

@media screen and (max-width: 1024px) {
  .main {
    min-height: 80vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 80%;
    margin: 25px auto;
  }

  .form-container {
    background-color: #2c3e50;
    min-height: 50vh;
    width: 100%;  
    padding-top: 50px;
    padding-left: 50px;
  }

  .title-container_title {
    font-size: 30px;
  }

  .title-subtitle {
    font-size: 1.5rem;
  }

  .form-container {
    padding-top: 30px;
  }

  .weather_info {
    width: unset;
    font-size: unset;
  }

  .weather_key {
    padding: 4px 0 4px 0;
  }

  input[type="text"] {
    margin-bottom: 10px;
  }

  button {
    padding: 4px 10px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    min-height: 60vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 80%;
    margin: 25px auto;
  }

  .form-container {
    background-color: #2c3e50;
    min-height: 35vh;
    width: 100%;  
    padding-top: 50px;
    padding-left: 50px;
  }

  .title-container_title {
    font-size: 2.5rem;
  }

  .title-subtitle {
    font-size: 2rem;
  }

  .form-container {
    padding-top: 30px;
  }

  .weather_info {
    width: unset;
    font-size: unset;
  }

  .weather_key {
    padding: 4px 0 4px 0;
  }

  input[type="text"] {
    margin-bottom: 10px;
  }

  button {
    padding: 4px 10px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    min-height: 60vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 80%;
    margin: 25px auto;
  }

  .form-container {
    background-color: #2c3e50;
    min-height: 35vh;
    width: 100%;  
    padding-top: 25px;
    padding-left: 25px;
  }

  .title-container_title {
    font-size: 2rem;
  }
  .title-subtitle {
    display: none;
  }

  button {
    padding: 2px;
  }
}